In [5]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

In [6]:
madrid_file_path = '/Users/amri/Documents/Python/madrid_houses_clean.csv'
madrid_data = pd.read_csv(madrid_file_path, index_col=0)
madrid_data

,id,sq_mt_built,n_rooms,n_bathrooms,n_floors,sq_mt_allotment,floor,buy_price,is_renewal_needed,has_lift,is_exterior,energy_certificate,has_parking,neighborhood,district,house_type
0,21742,64.0,2,1,1,0.0,3,85000,False,False,True,4,False,135,21,1
1,21741,70.0,3,1,1,0.0,4,129900,True,True,True,0,False,132,21,1
2,21740,94.0,2,2,1,0.0,1,144247,False,True,True,0,False,134,21,1
3,21739,64.0,2,1,1,0.0,-1,109900,False,True,True,0,False,134,21,1
4,21738,108.0,2,2,1,0.0,4,260000,False,True,True,0,True,133,21,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21737,5,78.0,2,2,1,0.0,4,350000,False,True,True,0,True,10,2,5
21738,4,96.0,2,2,1,0.0,3,425000,False,True,True,0,True,9,2,1
21739,3,175.0,4,2,1,0.0,-1,680000,False,False,True,3,True,9,2,1
21740,2,289.0,4,3,3,304.0,-5,695000,False,False,True,0,True,9,2,2
21741,1,72.0,2,2,1,0.0,2,424000,False,True,True,7,True,3,1,1

In [7]:
madrid_data.columns

Index(['id', 'sq_mt_built', 'n_rooms', 'n_bathrooms', 'n_floors',
       'sq_mt_allotment', 'floor', 'buy_price', 'is_renewal_needed',
       'has_lift', 'is_exterior', 'energy_certificate', 'has_parking',
       'neighborhood', 'district', 'house_type'],
      dtype='object')

In [8]:
features = ['sq_mt_built', 'n_rooms', 'n_bathrooms', 'n_floors','sq_mt_allotment', 'floor', 'is_renewal_needed','has_lift', 'is_exterior', 'energy_certificate', 'has_parking','neighborhood', 'district', 'house_type']
x = madrid_data[features]            
y = madrid_data.buy_price

In [9]:
x_train, x_val, y_train, y_val = train_test_split(x, y, random_state = 1)

In [10]:
madrid_model = RandomForestRegressor(random_state=1)
madrid_model.fit(x_train, y_train)

RandomForestRegressor(random_state=1)

In [14]:
predictions = madrid_model.predict(x_val)
predictions

array([1756428.   ,  534318.68 ,  253711.   , ...,  243349.305,
        128481.6  ,  631381.75 ])

In [15]:
madrid_mae = mean_absolute_error(predictions, y_val)
print("Validation MAE for Random Forest Model: {}".format(madrid_mae))

Validation MAE for Random Forest Model: 103469.61177533111

In [21]:
def mape(actual, pred): 
    actual, pred = np.array(actual), np.array(pred)
    return 100 - np.mean(np.abs((actual - pred) / actual)) * 100

mape(y_val, predictions)

83.9371402147282